﻿@model Spectrum.Models.SupplierViewModel
<table>
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Contact person</th>
    </tr>
    @{ int i = 1;}
    @foreach (var supplier in Model.Suppliers)
    {
    <tr>
        <td>@(i++)</td>
        <td>@supplier.Code</td>
        <td>@supplier.Name</td>
        <td>@supplier.Address</td>
        <td>@supplier.Email</td>
        <td>@supplier.Contact</td>
        <td>@supplier.ContactPerson</td>
        <td>@Html.ActionLink("Edit", "Edit", "supplier", new { Id = supplier.Id }, null)</td>
        <td>@Html.ActionLink("Delete", "Delete", "supplier", new { Id = supplier.Id }, null)</td>
    </tr>
    }
</table>

