﻿@model Spectrum.Models.CustomerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <form method="post">
            <table>
                <tr>
                    <td>@Html.LabelFor(c => c.Code)</td>
                    <td>@Html.TextBoxFor(c => c.Code, @Model.Code) </td>
                    <td>@Html.ValidationMessageFor(c=> c.Code)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Name)</td>
                    <td>@Html.TextBoxFor(c => c.Name, @Model.Name) </td>
                    <td>@Html.ValidationMessageFor(c => c.Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Address)</td>
                    <td>@Html.TextBoxFor(c => c.Address, @Model.Address) </td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Email)</td>
                    <td>@Html.TextBoxFor(c => c.Email, @Model.Email) </td>
                    <td>@Html.ValidationMessageFor(c => c.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Contact)</td>
                    <td>@Html.TextBoxFor(c => c.Contact, @Model.Contact) </td>
                    <td>@Html.ValidationMessageFor(c => c.Contact)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.LoyaltyPoint)</td>
                    <td>@Html.TextBoxFor(c => c.LoyaltyPoint, @Model.LoyaltyPoint) </td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Save" /></td>
                    <td>
                        @if (ViewBag.Message != null)
                        {
                            <h3>
                                <b>
                                    @ViewBag.Message;
                                </b>
                            </h3>
                        }

                    </td>
                </tr>

            </table>
        </form>
        @{
            Html.RenderPartial("~/Views/Customer/CustomerDetails.cshtml", Model);
        }
    
@section MyScript
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


