﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        /*h2{
            position: center;
        }
        h4{
            position: center;
        }*/
    </style>
</head>
<body>
    <div>
        <h2>Small Business Management System</h2>
        <h4>Add Category</h4>

        @RenderBody()


    </div>

    @RenderSection("MyScript", false)

</body>
</html>
